
<div class="caja">
    
    <header>
        <h1>Mi Nombre</h1>
        <p>Correo electrónico: sebaspiscis130305&#64;gmail.com | Teléfono: (+51) 960-220-239 | Lima, Perú</p>
    </header>

    <main>
        <section id="resumen">
            <h2>Presentación</h2>
            <p>Soy estudiante de la carrera de DESARROLLO DE SISTEMAS DE INFORMACIÓN responsable, puntual y eficiente en el ámbito laboral, con habilidades en la informática tales como la programación en plataformas web , diseño web, Marketing digital, office, estadísticas,  ensamblaje y diseño gráfico. </p>
        </section>

        <section id="experiencia">
            <h2>Experiencia Laboral</h2>
            <ul>
                <li>
                    <h3>Nombre del Trabajo o Cargo</h3>
                    <p><strong>Empresa:</strong> 7084 Peruano Suizo</p>
                    <p><strong>Fecha:</strong> 04/23 - 12/23</p>
                    <h5>Descripción de las responsabilidades y logros en el trabajo.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto, laborum earum suscipit minima hic veritatis, reiciendis ipsam reprehenderit ipsa at repellendus voluptate numquam esse assumenda quae facere excepturi optio.</p>
                </li>
                <!-- Agrega más li para experiencias adicionales -->
            </ul>
        </section>

        <section id="educacion">
            <h2>Educación</h2>
            <ul>
                <li>
                    <h3>Nombre del Título</h3>
                    <p><strong>Institución:</strong> ISMEM</p>
                    <p><strong>Fecha:</strong> 03/22 - 12/24</p>
                    <p>Descripción breve (opcional)</p>
                </li>
                <!-- Agrega más li para educación adicional -->
            </ul>
        </section>
    </main>

    <footer>
        <p>Referencias disponibles bajo petición.</p>
    </footer>
</div>