<div class="caja">
    <header><h2>Presentación</h2></header>
    
    <p>Soy estudiante de la carrera de Desarrollo de Sistemas de Información, caracterizado por ser responsable, puntual y altamente eficiente en el ámbito laboral. Poseo un conjunto diverso de habilidades en informática, lo que me permite abordar distintos proyectos con un enfoque integral y una perspectiva innovadora. A continuación, detallo mis competencias y experiencias:</p>
    <h3>Habilidades Técnicas</h3>
    <h5>Programación en Plataformas Web:</h5>
    <p>Desarrollo y mantenimiento de aplicaciones web utilizando lenguajes como HTML, CSS, JavaScript, PHP y frameworks como React, Angular.</p>
    <p>Implementación de bases de datos SQL para el manejo eficiente de datos.</p>
    <h5>Diseño Web:</h5>
    <p>Creación de interfaces de usuario intuitivas y atractivas siguiendo principios de UX/UI.</p>
    <p>Uso de herramientas de diseño como Adobe XD, Figma y Sketch para prototipado y diseño gráfico.</p>
    <h5>Marketing Digital:</h5>
    <p>Planificación y ejecución de estrategias de marketing digital, incluyendo SEO, SEM y gestión de redes sociales.</p>
    <p>Analítica web mediante Google Analytics para el seguimiento y optimización de campañas.</p>
    <h5>Suite Office:</h5>
    <p>Dominio avanzado de Microsoft Office (Word, Excel, PowerPoint) para la creación de documentos, análisis de datos y presentaciones efectivas.</p>
    <p>Automatización de tareas mediante VBA (Visual Basic for Applications).</p>
    <h5>Diseño Gráfico:</h5>
    <p>Creación de materiales visuales impactantes utilizando Adobe Photoshop, Illustrator y InDesign.</p>
    <p>Desarrollo de identidad corporativa y materiales promocionales.</p>
    <h5>Prácticas Profesionales:</h5>
    <p>Participación en proyectos de desarrollo web y marketing digital en empresas del sector tecnológico.</p>
    <p>Colaboración con equipos multidisciplinarios para la implementación de soluciones tecnológicas.</p>
    
</div>