<div class="caja">
    <h1>Álbum de Imágenes</h1>

<div class="gallery">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t31.18172-8/28700940_996106190540927_557894901203549178_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeE1G8h3rqa9pAqDhU0fjhFxZoBMZXw2jAxmgExlfDaMDGul6Hk6ol-au6UJuubdxRYyTUMGsopLvjsbl-D2cRjP&_nc_ohc=GLvpKqogovsQ7kNvgGlz4eN&_nc_ht=scontent.flim24-1.fna&oh=00_AYDtkf6C_UHewJjTosy728M-vMImjduKdh5h5JtKOSqyCg&oe=66A3F0BB" alt="Imagen de muestra 1">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t39.30808-6/335342083_169149092641030_7216621174172122201_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEPc7hHybkKZCUGugQ6FFpvvhuS76x4Mlq-G5LvrHgyWg7OnHHocwHDnr6AIJV-At6CHJYCfOtXZn-vzdsB4nwv&_nc_ohc=85ilbztMrJYQ7kNvgHgfTK6&_nc_ht=scontent.flim24-1.fna&oh=00_AYB5UkLMWJpmiZJDU9YrobSg1v9WDVMboHpTaRzj37cHFg&oe=66826978" width="30" height="30" alt="Imagen de muestra 2">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t39.30808-6/241561368_355568729603174_7406770282707790296_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG7oF-CnjbLMOhy-wU0o74aKAk15gku6V8oCTXmCS7pX_yc8IWCWDyDTa3B0rHHnWeoqmSVL2TFEaj0Nta6dJlt&_nc_ohc=N52niEBMGc8Q7kNvgHJElu6&_nc_ht=scontent.flim24-1.fna&oh=00_AYDNPfZd1AWSB6cHvQ_3bUG-SoZHtSyeP8UOZ3qDbXtWIg&oe=66826EDE" alt="Imagen de muestra 3">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t31.18172-8/28700940_996106190540927_557894901203549178_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeE1G8h3rqa9pAqDhU0fjhFxZoBMZXw2jAxmgExlfDaMDGul6Hk6ol-au6UJuubdxRYyTUMGsopLvjsbl-D2cRjP&_nc_ohc=GLvpKqogovsQ7kNvgGlz4eN&_nc_ht=scontent.flim24-1.fna&oh=00_AYDtkf6C_UHewJjTosy728M-vMImjduKdh5h5JtKOSqyCg&oe=66A3F0BB" alt="Imagen de muestra 4">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t31.18172-8/28700940_996106190540927_557894901203549178_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeE1G8h3rqa9pAqDhU0fjhFxZoBMZXw2jAxmgExlfDaMDGul6Hk6ol-au6UJuubdxRYyTUMGsopLvjsbl-D2cRjP&_nc_ohc=GLvpKqogovsQ7kNvgGlz4eN&_nc_ht=scontent.flim24-1.fna&oh=00_AYDtkf6C_UHewJjTosy728M-vMImjduKdh5h5JtKOSqyCg&oe=66A3F0BB" alt="Imagen de muestra 5">
    <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t31.18172-8/28700940_996106190540927_557894901203549178_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeE1G8h3rqa9pAqDhU0fjhFxZoBMZXw2jAxmgExlfDaMDGul6Hk6ol-au6UJuubdxRYyTUMGsopLvjsbl-D2cRjP&_nc_ohc=GLvpKqogovsQ7kNvgGlz4eN&_nc_ht=scontent.flim24-1.fna&oh=00_AYDtkf6C_UHewJjTosy728M-vMImjduKdh5h5JtKOSqyCg&oe=66A3F0BB" alt="Imagen de muestra 6">

    <!-- Agrega más imágenes según sea necesario -->
</div>

<footer>
    <p>&copy; 2024 Tu Nombre</p>
</footer>
</div>
